@charset "utf-8";

/* CSS Document */
html { font-size: 40px; }

/**解决页面因网络问题放大问题**/
@media screen (max-width:319px) {
	html { font-size: 17px }
}
@media screen and (min-width:320px) and (max-width:335px) {
	html { font-size: 18px }
}
@media screen and (min-width:336px) and (max-width:351px) {
	html { font-size: 19px }
}
@media screen and (min-width:352px) and (max-width:367px) {
	html { font-size: 20px }
}
@media screen and (min-width:368px) and (max-width:383px) {
	html { font-size: 21px }
}
@media screen and (min-width:384px) and (max-width:399px) {
	html { font-size: 22px }
}
@media screen and (min-width:400px) and (max-width:415px) {
	html { font-size: 23px }
}
@media screen and (min-width:416px) and (max-width:431px) {
	html { font-size: 24px }
}
@media screen and (min-width:432px) and (max-width:447px) {
	html { font-size: 25px }
}
@media screen and (min-width:448px) and (max-width:463px) {
	html { font-size: 26px }
}
@media screen and (min-width:464px) and (max-width:479px) {
	html { font-size: 27px }
}
@media screen and (min-width:480px) and (max-width:495px) {
	html { font-size: 28px }
}
@media screen and (min-width:496px) and (max-width:511px) {
	html { font-size: 29px }
}
@media screen and (min-width:512px) and (max-width:527px) {
	html { font-size: 30px }
}
@media screen and (min-width:528px) and (max-width:543px) {
	html { font-size: 31px }
}
@media screen and (min-width:544px) and (max-width:559px) {
	html { font-size: 32px }
}
@media screen and (min-width:560px) and (max-width:575px) {
	html { font-size: 33px }
}
@media screen and (min-width:576px) and (max-width:591px) {
	html { font-size: 34px }
}
@media screen and (min-width:592px) and (max-width:607px) {
	html { font-size: 35px }
}
@media screen and (min-width:608px) and (max-width:623px) {
	html { font-size: 36px }
}
@media screen and (min-width:624px) and (max-width:639px) {
	html { font-size: 37px }
}
@media screen and (min-width:640px) and (max-width:655px) {
	html { font-size: 38px }
}
@media screen and (min-width:656px) and (max-width:700px) {
	html { font-size: 39px }
}
@media screen (max-width:750px) {
	html { font-size: 40px }
}
body { width: 100%; margin: 0 auto; font-weight: 300; text-shadow: none !important; background-color: #f7f7f7; }
.ui-mobile .ui-page { margin: 0 auto; max-width: 750px; min-width: 320px; position: relative; }
.page { max-width: 750px; min-width: 320px; width: 100%; margin: 0 auto; background: #f7f7f7; }
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper { background-color: #f7f7f7; }
.ui-corner-all { border-radius: 0; }

/* 公用btn */
.com_btn { width: 14.5rem; height: 2.2rem; display: block; background-color: #31c27c; font-size: 0.85rem; line-height: 2.2rem; text-align: center; color: #fff !important; border-radius: 0.2rem; margin: 0 auto; }

/* 公用btn */

/* 公用top */
.header { height: 2.2rem; line-height: 2.2rem; position: relative; background: #ffffff; padding-top: 0.55rem; box-sizing: border-box; border-bottom: 1px solid #cfcfcf; }
.header .back_arr { position: absolute; left: 0.75rem; top: 0.65rem; width: 0.475rem; height: 0.9rem; background: url(../images/icon_back.png) no-repeat left center; -webkit-background-size: 0.475rem auto; background-size: 0.475rem auto; display: block; }
.header h1 { line-height: 1.1rem; text-align: left; font-size: 0.95rem; font-weight: 300; text-shadow: none; color: #333; text-align: center; }
.header i { width: 0.975rem; position: absolute; display: block; height: auto; right: 0.75rem; top: 0; }
.header i img { width: 100%; height: auto; }

/* 头部固定 */
.header_fixed { position: fixed; top: 0; max-width: 750px; min-width: 320px; width: 100%; z-index: 10000; }

/* 公用top */

/* main */
.info { background-color: #fff; padding: 0.75rem; margin-top: 0.5rem; }
.info p { font-size: 0.7rem; color: #333333; line-height: 1.05rem; }

/* 抽奖 */
.reward { background-color: #f0111f; }
.reward .banner { width: 100%; height: 13.7rem; }
.reward-top { width: 100%; height: 9.5rem; background: url(../images/a_04.png) 0 0 no-repeat; -webkit-background-size: 100% 9.5rem; background-size: 100% 9.5rem; margin-bottom: 1.375rem; }
.user-info { padding: 1.15rem 1.4rem 0.8rem; }
.user-info dt, .user-info dd { float: left; width:22%; }
.user-info dt img { width: 2.3rem; height: 2.2rem; margin: 0.55rem 1.55rem 0 0; }
.user-info dd { width: 12rem; }
.user-info dd p { width: 100%; font-size: 0.45rem; color: #b49d0d; line-height: 0.85rem; text-align: right; }
.user-info-list { height: 1.95rem; line-height: 1.95rem; font-size: 0.95rem; color: #493d00; overflow-y: hidden;font-weight: bold;
 }
.user-info-list img { width: 1.95rem; height: 1.95rem; float: left; }
.user-info-list span { float: left; width: 4.5rem; text-align: center; }
.reward-btn { display: block; width: 13.8rem; height: 1.9rem; background-color: #31c27c; font-size: 0.8rem; color: #fff !important; text-align: center; line-height: 1.9rem; margin: 0 auto 0.75rem; border-radius: 1.5rem; border-bottom: 4px solid #c43d3e; }
#rwd-btn { font-size: 0.7rem; color: #a04a1a; text-align: center; display: block; }
.reward-middle { width: 100%; padding-top: 2.375rem; background: url(../images/a_05.png) 0 0 no-repeat; -webkit-background-size: 100% auto; background-size: 100% auto; position: relative; }
.reward-middle .a_14 { width: 6.175rem; position: absolute; top: 0; right: 0.5rem; }
.reward-middle-inner { background: url(../images/a_15.png) 0 0 repeat-y; -webkit-background-size: 100% 1px; background-size: 100% 1px; margin: 1rem 0 0 0rem; padding: 0 1.375rem 0rem; box-sizing: border-box; border-radius: 0 0 0.25rem 0.25rem; overflow: hidden; }
.reward-middle-inner li { position: relative; }
.reward-middle-inner li img { height: 0.775rem; margin-bottom: 0.55rem; }
.reward-middle-inner li img.a_06 { width: 15.2rem; height: 8.95rem; margin-top: 0.75rem; }
.reward-middle-inner li img.a_07 { width: 16.3rem; height: 4.65rem; margin-top: 0.75rem; margin-bottom: 0; }
.reward-middle-inner li .txt-info { font-size: 0.7rem; color: #555555; line-height: 1rem; margin-left: 0.8rem; margin-bottom: 1.5rem; }
.reward-middle-inner li .txt-info em { font-size: 0.85rem; font-weight: bold; font-style: italic; }
.reward-foot img { width: 100%; }
#role-btn { position: absolute; top: 0; right: 0; padding: 0 0.45rem; height: 1.125rem; font-size: 0.5rem; color: #777; line-height: 1.125rem; text-align: center; border: 1px solid #999; border-radius: 1rem; }
#role-btn:hover { background-color: #999; color: #fff; }
.cover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: .5; z-index: 100; display: none; }
.tc-common { width: 16rem; height: 25.75rem; background-color: #fff; border-radius: 0.25rem; position: fixed; left: 50%; margin-left: -8rem; top: 50%; margin-top: -12.875rem; z-index: 1000; overflow: hidden; }
.tc-common h2 { font-size: 1.2rem; color: #666; line-height: 1.2rem; padding: 0.75rem 0 0.75rem 1.25rem; }
.tc-common .close { width: 1.9rem; height: 1.9rem; position: absolute; top: 0.4rem; right: 0.6rem; }
.tc-common .tab-box { height: 22rem; overflow-y: auto; }
.tc-common table { width: 100%; }
.tc-common table tr { height: 2rem; font-size: 0.7rem; color: #666; text-align: center; }
.tc-common table tr:nth-child(odd) { background-color: #f2f2f2; }
.tc-common table tr td { width: 33.33%; }
#tc-01 { display: none; }
#tc-02 { display: none; }
#tc-02 .tab-box { padding: 0 1rem; font-size: 0.7rem; color: #666; line-height: 0.95rem; }
.tab-box p { margin-bottom: 1.25rem; }
.tab-box img { margin: 0.5rem auto; }

/* 2016-12-6修改 */
.user-info-list span {
    width: 4.5rem;
    font-size: 0.8rem;
}
.user-info-list span:nth-child(2){
	width: 3rem;
}
.user-info-list span:nth-child(3){
	width: 4.5rem;
}
.user-info dt img {
    width: 3.2rem;
    height: 3.2rem;
    margin: -0.4rem 1.55rem 0 0;
}

/* 倒计时2016-12-8 */
.reward-top { height: 12.7rem; background: url(../images/a_04.png) 0 0 no-repeat; -webkit-background-size: 100% 12.7rem; background-size: 100% 12.7rem; }
.reward-banner { position: relative; }
#rwd-btn { position: absolute; bottom: 2.5rem; right: 2.375rem; color: #fdfdfd; }
.jc-box { margin-left: 3.25rem; padding-top: 1.25rem; }
.jc-box .n_01 { float: left; width: 2.5rem; height: 1.875rem; margin-right: 0.55rem; }
.jc { height: 1.95rem; font-size: 1.05rem; line-height: 1.95rem; }
.jc span { float: left; width: 1.325rem; height: 1.95rem; text-align: center; color: #fff; margin-right: 0.1rem; background: url(../images/a_20.png) 0 0 no-repeat; -webkit-background-size: 100%; background-size: 100%; }
.jc img { display: block; width: 0.8rem; height: 0.875rem; margin: 0.5rem auto; }
.user-info-list { height: auto; line-height: 0.8rem; padding: 0.75rem 0 0.25rem; }
.user-info-list span { width: 4.5rem; font-size: 0.8rem; line-height: 0.8rem; }
.user-info-list span:nth-child(2) { width: 3rem; }
.user-info-list span:nth-child(3) { width: 4.5rem; }
.user-info dt img {   width: 3.2rem;
    height: 3.2rem;
    margin: -0.4rem 1.55rem 0 0; }
/* 分享 */
.reward-banner { position: relative; }
.reward-banner .share { width: 1.85rem; height: 1.85rem; font-size: 0.7rem; color: #fff; line-height: 1.85rem; text-align: center; position: absolute; right: 0.625rem; top: 0.7rem; border-radius: 1.5rem; background-color: rgba(0, 0, 0, .5); }
.reward-banner .share-img { width: 100%; height: 100%; background-color: rgba(0, 0, 0, .5); position: fixed; left: 0; top: 0; z-index: 100; display: none; }
.reward-banner .share-img img { width: 12.55rem; height: 9.625rem; margin: 1.05rem auto; }
.djs { text-align: center; font-size: 0.8rem; line-height: 0.8rem; color: #945d21; font-weight: bold; margin: 0.75rem 0; }
.djs p { display: inline-block; }
.reward-btn { margin-bottom: 1.125rem; }
.user-info { padding: 0.675rem 1.4rem 0.8rem; }
.reward { background-color: #e50e1c; }
